<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.mapper.FileMapper">

   <!--增加用户-->
    <insert id="addImage">
        INSERT INTO `t_image`
         (`id`, `name`, `date`, `visible`)
        VALUES (#{file.id}, #{file.name},
        #{file.date}, #{file.visible})
    </insert>

  <!--删除用户-->
    <delete id="deleteImage">
        DELETE FROM `t_image`
        WHERE `id` = #{id}
    </delete>

    <!--修改用户-->
    <update id="updateImage">
        UPDATE `t_image`
        SET `name` = #{file.name},
        `visible` = #{file.visible}
        WHERE `id` = #{file.id}
    </update>

    <!--列出全部用户-->
    <select id="listAll" resultMap="pw.File">
        SELECT *
        FROM `t_image`
    </select>

    <!--根据id查找-->
    <select id="queryById" resultMap="pw.File" >
        SELECT *
        FROM `t_image`
        WHERE `id` = #{id}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(1)
        FROM `t_image`
    </select>

</mapper>